<div class="row">
    <div class="col-md-12">
        <div class="card bg-gradient-primary sales-details">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex p-3">
                            <div>
                                <i class="text-white op-7" data-feather="mail"></i>
                                <span class="text-white op-7 d-block my-3">Toplam Mesaj</span>
                                <h3 class="text-white mb-0">@ViewBag.TotalMessages</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex p-3">
                            <div>
                                <i class="text-white op-7" data-feather="message-square"></i>
                                <span class="text-white op-7 d-block my-3">Okunmamış</span>
                                <h3 class="text-white mb-0">@ViewBag.UnreadMessages</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex p-3">
                            <div>
                                <i class="text-white op-7" data-feather="download"></i>
                                <span class="text-white op-7 d-block my-3">Gelen Kutusu</span>
                                <h3 class="text-white mb-0">@ViewBag.IncomingMessages</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex p-3">
                            <div>
                                <i class="text-white op-7" data-feather="trash-2"></i>
                                <span class="text-white op-7 d-block my-3">Silinenler</span>
                                <h3 class="text-white mb-0">@ViewBag.DeletedMessages</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex p-3">
                            <div>
                                <i class="text-white op-7" data-feather="users"></i>
                                <span class="text-white op-7 d-block my-3">Kullanıcılar</span>
                                <h3 class="text-white mb-0">@ViewBag.TotalUsers</h3>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6">
                        <div class="d-flex p-3">
                            <div>
                                <i class="text-white op-7" data-feather="grid"></i>
                                <span class="text-white op-7 d-block my-3">Kategoriler</span>
                                <h3 class="text-white mb-0">@ViewBag.TotalCategory</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>