@model Project2IdentityEmail.Entities.AppUser

<ul class="navbar-nav float-right">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="javascript:void(0)" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            <span class="mr-3 font-normal d-none d-sm-inline-block pro-name">
                <span>Merhaba,</span>
                @Model.Name @Model.Surname
            </span>
            <img src="@(string.IsNullOrEmpty(Model.ImageUrl) ? "/mendy-admin-template/mendy-admin/package/assets/images/users/1.jpg" : "/UserImages/" + Model.ImageUrl)"
                 alt="user"
                 class="rounded-circle"
                 width="40"
                 height="40"
                 style="object-fit: cover;">
        </a>
        <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
            <div class="d-flex no-block align-items-center p-3 bg-light mb-2">
                <div class="">
                    <img src="@(string.IsNullOrEmpty(Model.ImageUrl) ? "/mendy-admin-template/mendy-admin/package/assets/images/users/2.jpg" : "/UserImages/" + Model.ImageUrl)"
                         alt="user"
                         class="rounded-circle"
                         width="60"
                         height="60"
                         style="object-fit: cover;">
                </div>
                <div class="ml-2">
                    <h4 class="mb-0">@Model.Name @Model.Surname</h4>
                    <p class="mb-0">@Model.Email</p>
                </div>
            </div>
            <div class="profile-dis scrollable">
                <a class="dropdown-item" href="/Profile/Index">
                    <i class="ti-user mx-1"></i> Profilim
                </a>
                <a class="dropdown-item" href="/Mail/Inbox">
                    <i class="ti-email mx-1"></i> Gelen Kutusu
                </a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/Account/Logout">
                    <i class="fa fa-power-off mx-1"></i> Çıkış Yap
                </a>
            </div>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="javascript:void(0)" data-toggle="dropdown">
            <i data-feather="mail"></i>
            @if (ViewBag.MessageCount > 0)
            {
                <span class="badge badge-pill badge-danger" style="position: absolute; top: 10px; right: 5px; font-size: 10px;">@ViewBag.MessageCount</span>
            }
        </a>
        <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
            <ul class="list-style-none">
                <li>
                    <div class="drop-title bg-light">
                        <h4 class="mb-0 mt-1">@ViewBag.MessageCount Okunmamış Mesaj</h4>
                    </div>
                </li>
                <li>
                    <div class="message-center message-body" style="max-height: 300px; overflow-y: auto;">
                        @if (ViewBag.LastMessages != null && ((IEnumerable<dynamic>)ViewBag.LastMessages).Any())
                        {
                            foreach (var msg in ViewBag.LastMessages)
                            {
                                <a href="/Mail/MessageDetails/@msg.Id" class="message-item d-flex align-items-center p-2 border-bottom bg-light">
                                    <div class="mail-contnet ml-3 w-75">
                                        <h5 class="message-title mb-0 font-14">@msg.SenderEmail</h5>
                                        <span class="mail-desc d-block text-truncate text-muted font-12">@msg.Subject</span>
                                        <small class="time d-block text-muted">@msg.SendTime</small>
                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            <div class="p-4 text-center text-muted">Okunmamış mesaj yok.</div>
                        }
                    </div>
                </li>
                <li>
                    <a class="nav-link text-center link text-dark p-3" href="/Mail/Inbox">
                        <b>Gelen Kutusu</b> <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>